body {
    margin-top: 60px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 960px;
}

#title {
    color: #333;
    position: absolute;
    float: none;
    top: 18px;
    right: 18px;
    font-size: 48px;
    font-weight: 100;
}

#instructions {
    color: #888;
    font-size: 16px;
    font-weight: 200;
    line-height: 140%;
}

.axis .ticks line.minor {
    stroke: #ccc;
    stroke-width: 1px;
}

.axis path {
    fill: none;
    stroke: #aaa;
    stroke-width: 2px;
}

.axis line {
    stroke: #999;
    stroke-width: 1px;
}

#radarchart .axis line, #parallelplot .axis line {
    z-index: -1;
    stroke: #aaa;
    stroke-width: 2px;
    stroke-dasharray: 2, 6;
}

.data-line {
    stroke-width: 1.5px;
    stroke-opacity: 0.3;
    fill: none;
    shape-rendering: "crispEdges";
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    color: #eee;
}

.axis-label, #tooltip {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
}

#scatterplot, #radarchart {
    position: relative;
}

svg, canvas {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 3px;
    padding-right: 3px;
}

circle, ellipse {
    z-index: 100;
    fill: #99c3d1;
    stroke: #466d9f;
    stroke-width: 1.5px;
}

circle.selected {
    fill: yellow;
    stroke: lime;
}

.brush .extent {
    z-index: -1;
    stroke: #bbb;
    stroke-width: 1.5px;
    fill-opacity: .02;
}

/* DnD box */
.drop-box {
    background-color: #f9f9f9;
    border: 2px dashed #b9b9b9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 12px 24px;
}

.instruction {
    margin: 40px 10px;
    font: 36px bold "Optima", "FreeSerif";
    font-weight: 900;
    color: #c6c6c6;
}