body {
    margin-top: 60px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#title {
    color: #333;
    position: absolute;
    float: none;
    top: 18px;
    right: 18px;
    font-size: 48px;
    font-weight: 100;
}

#instructions {
    color: #888;
    font-size: 16px;
    font-weight: 200;
    line-height: 140%;
}

.axis path {
    fill: none;
    stroke: #aaa;
    stroke-width: 2px;
}

.axis line {
    stroke: #999;
    stroke-width: 1px;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    color: #eee;
}

.axis-label, #tooltip {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
}

#scatterplot {
    position: relative;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#heatmap > canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 680;
    height: 580;
    margin: 0;
    padding: 0;
}
